@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.font-roboto {
  font-family: Roboto, sans-serif;
}

.service-cont {
  transition: scale ease-in-out 120ms;
  scale: 1;
}

.dark:bg-grey {
  background-color: #333;
}

.service-cont.home:hover {
  scale: 1.1;
}

.service-cont button::after {
  background: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  position: absolute;
  transition: background-color ease-in-out 120ms, top ease-in-out 120ms,
    left ease-in-out 120ms, right ease-in-out 120ms, bottom ease-in-out 120ms;
  border-radius: 1rem;
}

.service-cont.home button::after {
  background: rgba(0, 0, 0, 0.2);
  bottom: calc(50% + 16px);
}

.service-cont.home:hover button::after {
  bottom: 32px;
}

.service-cont:hover button::after,
.service-cont button.active::after {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}


@media (prefers-color-scheme: dark) {
  .service-cont button::after {
    background: rgba(255, 255, 255, 0.2);
  }

  .service-cont.home button::after {
    background: rgba(255, 255, 255, 0.2);
  }
}


input[type='range']::-webkit-slider-runnable-track {
  color: #0d9488;
  margin-top: -1px;
}


input[type='range']::-webkit-slider-thumb {
  cursor: ew-resize;
  background: #0d9488;
}



input[type="range"]::-moz-range-progress {
  background-color: #0d9488;
}

input[type="range"]::-ms-fill-lower {
  background-color: #0d9488;
}